##
## direnv
## ------
## Install:
##   $ brew install direnv
##
## Enabling:
##   $ cd <dir>
##   $ vim .envrc
##   $ direnv allow  #
##
## Usage:
##   $ cd <dir>  # enter this dir: executes 'bin/activate'
##   $ cd <dir>  # exit this dir:  executes 'bin/deactivate'
##
## Reference:
##   https://direnv.net/
##

set_venv() {
  [ -d ${1} ] && source ${1}/bin/activate
}

set_venv ./venv
set_venv ./.venv


# Separated: Secrets et al.
[ -f .env ] && source .env
