# Ref:
#   https://realpython.com/pipenv-guide/
#   pip install
#   pip list
#   pip freeze
#
#   pipenv install
#   pipenv install --dev
#   pipenv lock
#
#   pipenv install -r requirements.txt
#   pipenv install -r requirements_dev.txt --dev
#
#   pipenv lock -r    > requirements.txt
#   pipenv lock -r -d > requirements_dev.txt
#

[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
requests = ">=2.25.1,<3.0"
requests-cache = ">=0.5.2,<2.0"
pandas = "==1.2.0"
lxml = ">=4.6.2,<5.0"
tabulate = "<=1.0,>=0.8.7"

[dev-packages]
pytest = ">=6.2.1"
coverage = ">=5.3.1"
pytest-sugar = ">=0.9.4,<1.0"
twine = "<4.0,>=3.3.0"

[requires]
python_version = "3.9"
