#
# Ref:
#   virtualenv venv
#   source venv/bin/activate
#   pip install -r required.txt
#

pytest>=6.2.1
hypothesis>=5.43.4
pytest-sugar>=0.9.4,<1.0

coverage>=5.3.1
coveralls==3.0.0

twine>=3.3.0,<4.0
pipenv>=2020.11.15
tbump>=6.2.0,<7.0
