#
# Ref:
#   virtualenv .venv
#   source .venv/bin/activate
#   pip install -r requirements-dev.txt
#

pytest>=8.4.1
pytest-sugar
coverage>=5.5.0

# publish coverage stats to coveralls.io:
coveralls==2.2.0
