#
# Ref:
#   virtualenv .venv
#   source .venv/bin/activate
#   pip install -r requirements-pkg.txt
#

# CLI: PyPi pkg upload
twine #>=6.1.0

# CLI: update 'version' in files
tbump #>=6.11.0

# Build
build #>= 1.2.0
uv    #>= 0.7.16
